extends ../layouts/base.pug

block variables
  - var title = "Lottery"

block content
  .container
    .lottery
      .lottery_result
        div.lottery_result-title Winners: <span class="result_info"></span>
        a.lottery_result-btn(href="#") New winner

      form.lottery_form(method="post" action="#" name="lottery-form" novalidate)
        fieldset.lottery_title Registration form
        .lottery_container
          label.lottery_label
            span.lottery_field-title Name
            input.lottery_input(data-field="name" name="name" required)

          label.lottery_label
            span.lottery_field-title Surname
            input.lottery_input(data-field="surname" name="surname" required)

          label.lottery_label
            span.lottery_field-title Email
            input.lottery_input(data-field="email" required type="email")

          label.lottery_label
            span.lottery_field-title Phone
            input.lottery_input(data-field="phone" type="number" min="0")

          label.lottery_label
            span.lottery_field-title Birthday
            input.lottery_input(data-field="birthday" type="date")

        .lottery_buttons
          button.lottery_btn(type="reset") Clear
          button.lottery_btn(type="submit") Add


      table.lottery_table
        thead
          tr
            for item in ['name', 'surname', 'email', 'phone', 'birthday']
              th=item
        tbody

      .clear-button
        button.clear-all(type="button") Clear all data
  template.winner-template
    tr
      for item in ['birthday', 'name', 'surname', 'email', 'phone']
        td(data-name=item)
